<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <div>
                    <img src="~/images/logo.png" width="40" height="40" style="margin-top: -10px;" />
                </div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Cargo" asp-action="Index">Cargo</a></li>
                <li><a asp-area="" asp-controller="Categoria" asp-action="Index">Categoria</a></li>
                <li><a asp-area="" asp-controller="Cliente" asp-action="Index">Cliente</a></li>
                <li><a asp-area="" asp-controller="Comanda" asp-action="Index">Comanda</a></li>
                <li><a asp-area="" asp-controller="ComandaProduto" asp-action="Index">Comanda Produto</a></li>
                <li><a asp-area="" asp-controller="Produto" asp-action="Index">Produto</a></li>
                <li><a asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a></li>
                <li><a asp-area="" asp-controller="Venda" asp-action="Index">Venda</a></li>
                <li><a asp-area="" asp-controller="Pedido" asp-action="Index">Pedido</a></li>
                <li>
                       <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logoff.png" width="30" height="30" style="margin-top: -15px;"/></a>

                </li>
            </ul>
        </div>
    </div>

</nav>