@model Vendas.WebApp.Models.ComandaProduto
@{
    ViewData["Title"] = "Comanda produtos";
}
@await Html.PartialAsync("~/Views/Shared/_PartialNav.cshtml")
<h2 class="display-4">Adicionar comanda</h2>
<form asp-action="Details">
    <div class="form-row">
        <div class="form-group-sm col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Id" class="control-label">Nome:</label>
                <input asp-for="@Model.Id" class="form-control form-control-sm" />
                <span asp-validation-for="@Model.Id" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-row botao">
        <div class="col-md-11">
            <a asp-action="Index">
                <input type="button" value="Voltar" class="btn btn-sm btn-secondary" />
            </a>
        </div>
        <div class="col-md-1">
            <input type="submit" value="Salvar" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
