<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <div>
            <a href="../Cargo/Index">
                <img src="~/images/vendedores.png" width="100" height="100" />
            </a>
        </div>
        <span>Cargo</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Categoria/Index">
                <img src="~/images/categorias.png" width="100" height="100" />
            </a>
        </div>
        <span>Categoria</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Cliente/Index">
                <img src="~/images/clientes.png" width="100" height="100" />
            </a>
        </div>
        <span>Clientes</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Produto/Index">
                <img src="~/images/produtos.png" width="100" height="100" />
            </a>
        </div>
        <span>Produto</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Usuario/Index">
                <img src="~/images/usuarios.png" width="100" height="100" />
            </a>
        </div>
        <span>Usuario</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Venda/Index">
                <img src="~/images/vendas.png" width="100" height="100" />
            </a>
        </div>
        <span>Vendas</span>
    </div>
    <div class="col-md-4">
        <div>
            <a href="../Pedido/Index">
                <img src="~/images/pedidos.png" width="100" height="100" />
            </a>
        </div>
        <span>Pedidos</span>
    </div>


</div>
